#game {
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
}

#menu {
    background-color: grey;
    padding: 10px;
    width: 30%;
    min-width: fit-content;
    text-align: center;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#gameboard {
    display: grid;
    grid-template-rows:     1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    
    background-color: whitesmoke;

    width: 70%;
    min-height: 600px;
}

/******************* Optional coloring of every 4th row ********************/
#gameboard :nth-child(4n + 0) > [class^=col] { background-color: #F578A2; }
#gameboard :nth-child(4n + 1) > [class^=col] { background-color: #9DF5A6; }
#gameboard :nth-child(4n + 2) > [class^=col] { background-color: #6B8DF5; }
#gameboard :nth-child(4n + 3) > [class^=col] { background-color: #F5D684; }
/***************************************************************************/

#gameboard [class^=row] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}

#gameboard [class^=row] .card {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    width: 2vw;
    height: 2vw;
    margin: 10px;
    padding: 20px;
    
    border: 2px solid transparent; /* Spaceholder so hover doesnt ruin layout */ 
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                0 2px 10px 0 rgba(0,0,0,0.12);
}

#gameboard .card:hover {
    cursor: pointer;
    
    border: 2px solid lightblue;
    box-shadow: 0 2px 5px 0 rgba(110,230,245,0.60),
                0 2px 10px 0 rgba(110,230,245,0.18);
}

#gameboard .hidden {
    visibility: hidden;
}

@media only screen and () {
    body    { background-color: springgreen; }
    #game   { flex-direction: column; }

    #menu {
        width: 100%;
        min-width: fit-content;
        padding: 10px 0;
    }

    #gameboard  {
        width: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    #gameboard [class^=row] {
        width: 100%;
    }
}





